{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Users
                                    <a href="{% url 'userAdd' %}" class="btn btn-danger btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">New Users</span>
                                    </a></h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Number of Member</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{count}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Online</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ x }} {{ z }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-lightbulb fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Most Popular Book Genre</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Horror</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead >
                                        <tr>
                                            <th style="width: 500px;">Name</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>National ID</th>
                                            <th style="text-align: center;"><i class="fas fa-key" style="color: #ecff3c"></i></th>
                                            <th>Membership Start</th>
                                            <th>Membership End</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                            <th>Created By</th>
                                            <th>Updated By</th>
                                            <th  style="text-align: center">Borrowing</th>
                                            <th  style="text-align: center">Block Member</th>
                                            <th  style="text-align: center">Extend Membership</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="width: 500px;">Name</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>National ID</th>
                                            <th style="text-align: center;"><i class="fas fa-key" style="color: #ecff3c"></i></th>
                                            <th>Membership Start</th>
                                            <th>Membership End</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                            <th>Created By</th>
                                            <th>Updated By</th>
                                            <th  style="text-align: center">Borrowing</th>
                                            <th  style="text-align: center">Block Member</th>
                                            <th  style="text-align: center">Extend Membership</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td style="width: 500px;"><b><i><u>{{user.user_name}}</u></i></b></td>
                                           <td>{{user.user_address}}</td>
                                           <td>{{user.user_email}}</td>
                                           <td>{{user.user_phoneNumber}}</td>
                                            <td>{{user.user_nationalIdentificationNumber}}</td>
                                           <td>{{user.user_userName}}</td>
                                            <td>{{user.user_membershipStart}}</td>
                                            <td><b><i>{{user.user_membershipEnd}}</i></b></td>
                                            <td>{{user.user_createdAt}}</td>
                                            <td>{{user.user_updatedAt}}</td>
                                            <td>{{user.user_createdBy.administrator_name}}</td>
                                            <td>{{user.user_updatedBy.administrator_name}}</td>
                                           <td  style="text-align: center"><a class="btn btn-success btn-circle btn-sm" href=""><i class="fas fa-flag"></i></a></td>
                                           <td  style="text-align: center">{% if user.user_permission %}<a class="btn btn-danger btn-circle btn-sm" href="{% url 'block' user.user_id %}"><i class="fas fa-lock"></i></a></td>{% else %}<a class="btn btn-success btn-circle btn-sm" href="{% url 'block' user.user_id %}"><i class="fas fa-unlock"></i>{% endif %}</a></td>
                                            <td  style="text-align: center"><a class="btn btn-info btn-circle btn-sm" href="{% url 'extend' user.user_id %}"><i class="fas fa-plus"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
</div>
{% endblock %}